.flashcard-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
}

.flashcard-content {
  background-color: #707070;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  position: relative; 
  padding: 2%;
}

.counter {
  padding: 10px;
}

.flashcard-front {
  font-size: 20px;
  font-weight: bold;
  text-align: center; 
}

.flashcard-back {
  font-size: 20px;
  text-align: center; 
}

.flashcard-content .flashcard-front {
  display: block;
}

.flashcard-content .flashcard-back {
  display: none;
}

.flashcard-content.show-back .flashcard-front {
  display: none;
}

.flashcard-content.show-back .flashcard-back {
  display: block;
}

.flashcard-navigation {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
}

.navigation-buttons {
  min-width: 50%;
}

.star-toggle {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background-color: #707070;
  width: 25px;
  height: 25px;
  padding: 0px;
  text-align: center;
  cursor: pointer; 
  margin-right: 0px;
  margin-top: 0px;
}

.star-toggle:hover {
  background-color: #909090; 
}

button:disabled {
  background-color: #9e9d9d;
  cursor: not-allowed;
}
