.add-button {
  margin-left: 1%;
  width: 32%;
}

.folder-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.folder-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-button {
  margin-left: 15px;
  background-color: #e74c3c;
}