body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4a4a4b;
  color: #e0e0e2;
  text-decoration: none;
}

textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 100px;
}

input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.page {
  position: absolute;
  width: 60%;
  left: 20%;
}

a {
  color: #e0e0e2;
  text-decoration: none;
}

.App {
  background-color: #4a4a4b;
  color: #e0e0e2;
}

button {
  background-color: #232325;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  width: 42%;
}

button:hover {
  background-color: #c0392b;
}

.name-input {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.error-message {
  color: #c0392b;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.delete-card {
  background-color: #e74c3c;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  width: 30%;
  margin-bottom: 0px;
}

.add-card-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-card {
  width: 60%;
}

.save-deck {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.save-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.question-answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.question-answer-group {
  flex: 1;
  margin-right: 50px;
}

.question-answer-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 100px;
}

.tsv-area {
  width: 90%;
}